<script type="x/template" data-component="single-item">
    <div>
        <slot :getDataField="getDataField" :getFilteredDataField="getFilteredDataField">
            <div class="single container-max page-content elem to-fade-in">
                <div class="row position-relative">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-7 mt-0 mt-lg-5 mb-3 mb-sm-3 mb-md-0 mb-lg-5 pr-lg-5">
                        <div class="image-carousel-outer">
                            <slot name="image-carousel"></slot>
                            <div v-for="variation_prop in currentVariation.variationProperties"
                                 class="position-absolute on_mob_rel" v-if="variation_prop.id == 30">
                                <div v-for="prop in variation_prop.properties"
                                     v-if="prop.id == 690 && prop.values.value"
                                     class="border_video">
                                    <a href="#videostory" class="button button_video more" id="videolink">
                                        Video <i class="fa fa-play-circle video-icon" aria-hidden="true">&nbsp;</i>
                                    </a>
                                    <div id="videostory" class="mfp-hide" style="max-width: 100%; margin: 0 auto;">
                                        <iframe width="550" height="550"
                                                :src="'https://www.youtube.com/embed/' + prop.values.value"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                    {# ${ prop.values.value } #}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 mt-0 mt-sm-5 mt-md-3 mt-lg-5 pl-lg-4">
                        <div>
                            {# custom header #}
                            <div v-if="ceresStore.getters.breadcrumbs[1]">
                                <a :href="ceresStore.getters.breadcrumbs[1].url"
                                   class="mb-3 item">
                                    ${ ceresStore.getters.breadcrumbs[1].details[0].name }
                                </a>
                            </div>
                            <div v-else>
                                <a :href="ceresStore.getters.breadcrumbs[0].details[0].canonicalLink"
                                   class="mb-3 item">
                                    ${ ceresStore.getters.breadcrumbs[0].details[0].name }
                                </a>
                            </div>

                            <h1 class="h1 title mb-3 mt-2">
                                ${ currentVariation | itemName }
                            </h1>
                            <a href="#customer_feedback">
                                <slot name="before-price"></slot>
                            </a>

                            <!-- Item Bundle -->
                            <item-bundle v-if="currentVariation.variation.bundleType === 'bundle'"
                                         :bundle-type="currentVariation.variation.bundleType"
                                         :bundle-components="currentVariation.bundleComponents"></item-bundle>
                            <!-- /Item Bundle -->
                            <graduated-prices></graduated-prices>
                            <item-price :show-cross-price="isRecommendedPriceActive"></item-price>
                            <slot name="after-price"></slot>
                            <!-- Variation -->
                            <div class="mb-3 vsel" v-if="attributes.length || Object.keys(units).length">
                                <variation-select></variation-select>
                            </div>
                            <!-- /Variation -->
                            {# promobar #}
                            {% include "devMlt::Item.Components.SingleItem.PromoBarSingleItem" %}
                            <div v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
                                <order-property-list></order-property-list>
                            </div>


                            <slot name="additional-content-after-add-to-basket"></slot>
                            <div class="mt-3">

                                <div v-if="currentVariation.item.itemType === 'set'" class="alert alert-info w-100">
                                    ${ $translate("Ceres::Template.singleItemSetInfo") }
                                </div>
                                <div v-else class="col-12 px-0">
                                    <slot name="before-price"></slot>
                                    <div class="wishlist">
                                        <add-to-wish-list
                                                :variation-id="currentVariation.variation.id"></add-to-wish-list>
                                    </div>
                                    <add-to-basket
                                            :variation-id="currentVariation.variation.id"
                                            :is-salable="!!currentVariation.filter && currentVariation.filter.isSalable"
                                            :has-children="!!currentVariation.filter && currentVariation.filter.hasActiveChildren"
                                            :interval-quantity="currentVariation.variation.intervalOrderQuantity || 1"
                                            :minimum-quantity="currentVariation.variation.minimumOrderQuantity"
                                            :maximum-quantity="!!currentVariation.variation.maximumOrderQuantity && currentVariation.variation.maximumOrderQuantity > 0 ? currentVariation.variation.maximumOrderQuantity : null"
                                            :order-properties="currentVariation.properties.filter(function(prop) { return prop.property.isOderProperty })"
                                            :use-large-scale="false"
                                            :show-quantity="true"
                                            :item-url="currentVariation | itemURL"
                                            :is-variation-selected="isVariationSelected && currentVariation.filter.isSalable"
                                            :has-price="currentVariation | hasItemDefaultPrice"
                                    >
                                    </add-to-basket>
                                </div>


                                <!-- Placement v2 -->
                                <div class="mt-3">
                                    <klarna-placement
                                            data-key="top-strip-promotion-badge"
                                            data-locale="de-DE"
                                    ></klarna-placement>
                                    <!-- end Placement -->
                                </div>
                                <div v-if="!currentVariation.filter.isSalable">
                                    <div class="col-12 mt-3 email_form">
                                        <p class="h4">Der Artikel wird bald wieder verfügbar sein, jetzt
                                            vorbestellen.</p>
                                        <p>Sobald der Artikel wieder verfügbar ist, bekommst du von uns eine
                                            E-Mail.</p>
                                        <a class="btn btn-dark text-white" href="tel:+494038632775"></a>
                                        <a class="btn btn-dark text-white"
                                           :href="'mailto:mail@morgenland-teppiche.de?subject=Verfügbarkeitsanfrage - Artikelnummer: '+currentVariation.variation.id+
                                           '&body=Hallo liebes Morgenland Team,%0D%0A%0D%0Aich interessiere mich für die Artikelnummer: '+currentVariation.variation.id+' und würde gerne die Verfügbarkeit des Artikels hiermit anfragen.%0D%0AKommt dieser Artikel demnächst wieder nach, oder wäre eine Vorbestellung möglich, wenn ja wie lange würde die Lieferzeit dauern?'"></a>
                                    </div>
                                </div>

                                {% for variationGroups in item.documents[0].data.variationProperties %}
                                    {% if variationGroups.id == 4 %}
                                        <div class="d-flex view-container">
                                            {% for variationProperty in variationGroups.properties %}
                                                {% if variationProperty.id == 18 %}
                                                    <div class="display-block live-view mt-3">
                                                        {{ variationProperty.values.value | raw }}
                                                    </div>
                                                {% endif %}
                                                {% if variationProperty.id == 152 %}
                                                    <div class="display-block home-view mt-3">
                                                        {{ variationProperty.values.value | raw }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="w-100">
                                    <slot name="after-add-to-basket"></slot>
                                </div>

                                {# infobox #}
                                <div class="single-item-info-card my-4">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row mb-1">
                                                <div class="col-12 mb-2">
                                                    <img class=""
                                                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/single-item-icons/truck.svg"
                                                         width="22" height="22">
                                                </div>

                                                <div class="col-12 mb-1">
                                                    <div class="d-flex justify-content-between"
                                                    >
                                                        <span class="font-weight-bold">${ currentVariation.variation.availability.names.name }</span>
                                                        <span class="font-weight-bold col-green"
                                                              v-if="currentVariation.variation.availability.names.availabilityId <= 3 "> sofort versandfertig</span>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-1">
                                                    <div class="d-flex justify-content-between">
                                                        <span>Standard-Lieferung</span>
                                                        <span class="font-weight-bold"> kostenlos</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item mb-1">
                                            <img class="lazyload"
                                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/single-item-icons/package.svg"
                                                 width="22" height="22">

                                            <span class="ml-2">Kostenloser Versand &</span> Rückversand
                                        </li>
                                        <li class="list-group-item mb-1">
                                            <img class="lazyload"
                                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/single-item-icons/backarrow.svg"
                                                 width="22" height="22">
                                            <span class="ml-2">31 Tage Rückgaberecht</span></li>
                                        <li class="list-group-item mb-1">
                                            <img class="lazyload"
                                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/single-item-icons/feather.svg"
                                                 width="22" height="22">
                                            <span class="ml-2">Direkt vom Hersteller</span></li>
                                    </ul>
                                </div>

                                <!-- .Item property -->
                                {% include "devMlt::Item.Components.SingleItem.SingleItemProperty" %}

                                {# andere formen #}
                                {# <div v-for="var_prop in currentVariation.variationProperties[0].properties" #}
                                {# v-if="var_prop.id == 692" class="h3 font-weight-bold mt-5 mb-3 ml-3"> #}
                                {# Andere Formen #}
                                {# </div> #}
                                {# <div v-for="var_prop in currentVariation.variationProperties" #}
                                {# v-if="var_prop.id == 30" class="row d-flex container_cross"> #}
                                {# <div v-for="sub_prop in var_prop.properties" class="mb-5"> #}
                                {# <div v-if="sub_prop.id == 693"> #}
                                {# {% for prop in  item.documents[0].data.variationProperties %} #}
                                {# {% if prop.id == 30 %} #}
                                {# {% for sub_prop in prop.properties %} #}
                                {# {% if sub_prop.id == 693 %} #}
                                {# {% set  artid = sub_prop.values.value %} #}
                                {# {% endif %} #}
                                {# {% if sub_prop.id == 694 and sub_prop.values.value|length>0 %} #}
                                {# {% set url = services.url.getVariationURL(artid,sub_prop.values.value).toAbsoluteUrl() %} #}
                                {# {% set urlToUse =   url|split('_') %} #}
                                {# <div> #}
                                {# <div #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 694"> #}
                                {# <a :href="'{{ urlToUse[0] }}'+'_'+'{{ artid }}'+'_'+sub_prop.values.value"> #}
                                {# <div class="pic_fit_container" #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 692"> #}
                                {# <img class="lazyload" #}
                                {# :src="sub_prop.values.value" alt=""> #}
                                {# </div> #}
                                {# </a> #}
                                {# </div> #}
                                {# </div> #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# </div> #}
                                {# <div v-if="sub_prop.id == 695"> #}
                                {# {% for prop in  item.documents[0].data.variationProperties %} #}
                                {# {% if prop.id == 30 %} #}
                                {# {% for sub_prop in prop.properties %} #}
                                {# {% if sub_prop.id == 695 %} #}
                                {# {% set  artid = sub_prop.values.value %} #}
                                {# {% endif %} #}
                                {# {% if sub_prop.id == 699 and sub_prop.values.value|length>0 %} #}
                                {# {% set url = services.url.getVariationURL(artid,sub_prop.values.value).toAbsoluteUrl() %} #}
                                {# {% set urlToUse =   url|split('_') %} #}
                                {# <div> #}
                                {# <div #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 699"> #}
                                {# <a :href="'{{ urlToUse[0] }}'+'_'+'{{ artid }}'+'_'+sub_prop.values.value"> #}
                                {# <div class="pic_fit_container" #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 703"> #}
                                {# <img class="lazyload" #}
                                {# :src="sub_prop.values.value" alt=""> #}
                                {# </div> #}
                                {# </a> #}
                                {# </div> #}
                                {# </div> #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# </div> #}
                                {# <div v-if="sub_prop.id == 696"> #}
                                {# {% for prop in  item.documents[0].data.variationProperties %} #}
                                {# {% if prop.id == 30 %} #}
                                {# {% for sub_prop in prop.properties %} #}
                                {# {% if sub_prop.id == 696 %} #}
                                {# {% set  artid = sub_prop.values.value %} #}
                                {# {% endif %} #}
                                {# {% if sub_prop.id == 700 and sub_prop.values.value|length>0 %} #}
                                {# {% set url = services.url.getVariationURL(artid,sub_prop.values.value).toAbsoluteUrl() %} #}
                                {# {% set urlToUse =   url|split('_') %} #}
                                {# <div> #}
                                {# <div #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 700"> #}
                                {# <a :href="'{{ urlToUse[0] }}'+'_'+'{{ artid }}'+'_'+sub_prop.values.value"> #}
                                {# <div class="pic_fit_container" #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 704"> #}
                                {# <img class="lazyload" #}
                                {# :src="sub_prop.values.value" alt=""> #}
                                {# </div> #}
                                {# </a> #}
                                {# </div> #}
                                {# </div> #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# </div> #}
                                {# <div v-if="sub_prop.id == 697"> #}
                                {# {% for prop in  item.documents[0].data.variationProperties %} #}
                                {# {% if prop.id == 30 %} #}
                                {# {% for sub_prop in prop.properties %} #}
                                {# {% if sub_prop.id == 697 %} #}
                                {# {% set  artid = sub_prop.values.value %} #}
                                {# {% endif %} #}
                                {# {% if sub_prop.id == 701 and sub_prop.values.value|length>0 %} #}
                                {# #}{# {% set url = services.url.getVariationURL(artid,sub_prop.values.value).toAbsoluteUrl() %} #}
                                {# #}{# {% set urlToUse =   url|split('_') %} #}
                                {# <div> #}
                                {# <div #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 701"> #}
                                {# <a :href="'{{ urlToUse[0] }}'+'_'+'{{ artid }}'+'_'+sub_prop.values.value"> #}
                                {# <div #}
                                {# v-for="sub_prop in var_prop.properties" #}
                                {# v-if="sub_prop.id == 705"> #}
                                {# <img class="lazyload" #}
                                {# :src="sub_prop.values.value" alt=""> #}
                                {# </div> #}
                                {# </a> #}
                                {# </div> #}
                                {# </div> #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# {% endif %} #}
                                {# {% endfor %} #}
                                {# </div> #}
                                {# </div> #}
                                {# </div> #}
                                {# beratung anfodern #}
                                <div class="collapse-hilfe-outer d-block bg-white mb-3 beratung_container mb-5 mx-3 mt-1">
                                    <div class="d-flex justify-content-between w-100 frage_produkt"
                                         data-toggle="collapse"
                                         data-target="#collapse-frage_produkt" aria-expanded="false"
                                         aria-controls="collapse-frage_produkt">
                                        <div>
                                            <b><img src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/faq.svg"
                                                    alt="">Beratung anfordern</b>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" style="z-index: 0">
                                            <path d="M6 9l6 6 6-6"/>
                                        </svg>
                                    </div>
                                    <div class="collapse my-3" id="collapse-frage_produkt">
                                        <slot name="add-detail-tabs"></slot>
                                        <slot name="add-detail-tabs-content"></slot>
                                    </div>
                                </div>
                                <div id="customer_feedback">
                                    <slot name="feedback-container"></slot>
                                </div>


                                <!-- ITEM DESCRIPTION -->
                            </div>
                            <slot name="additional-content-after-vat"></slot>
                            <!-- END SINGLEITEM_DETAILS -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="single my-5">
                <div class="bg-1 py-5">
                    <div class="container-max elem to-fade-in">
                        <div class="row">
                            <div class="col-12 col-md-12 text-center">
            					<span class="h4 d-block mb-5 font-weight-bold">
                         Beschreibung
                      </span>
                                <span v-html="currentVariation.texts.shortDescription"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single">
                <div class="container-max cross-selling elem to-fade-in">
                    <slot name="item-list-container"></slot>
                </div>
            </div>
        </slot>

        <div class="modal-cross-selling_random">
            <div class="container-max">
                {% set crossSellingItemsCollection2 = services.itemList.getItemList("category", item.documents[0].data.defaultCategories[0].id ,null,13,null).documents %}
                {# {{ crossSellingItemsCollection2 | json_encode }} #}
                {% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
                {% if crossSellingItemsCollection2 | length > 0 %}
                    <div class="crossselling">
                        <div class="crossselling-section-header">
                            <h3>
                                Das könnte dir gefallen
                            </h3>
                        </div>
                        <carousel>
                            {% for item in crossSellingItemsCollection2 %}
                                {{ item | json_encode }}
                                <template slot="items">
                                    <category-item
                                            :item-data="{{ item.data | json_encode }}"
                                            :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                                            :disable-carousel-on-mobile="true">
                                    </category-item>
                                </template>
                            {% endfor %}
                        </carousel>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="modal-cross-selling_random">
            <div class="container-max">
                {% set crossSellingItemsCollection2 = services.itemList.getItemList("last_seen", null ,null,13,null).documents %}
                {# {{ crossSellingItemsCollection2 | json_encode }} #}
                {% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
                {% if crossSellingItemsCollection2 | length > 0 %}
                    <div class="crossselling">
                        <div class="crossselling-section-header">
                            <h3>
                                Zuletzt angesehen
                            </h3>
                        </div>
                        <carousel>
                            {% for item in crossSellingItemsCollection2 %}
                                {{ item | json_encode }}
                                <template slot="items">
                                    <category-item
                                            :item-data="{{ item.data | json_encode }}"
                                            :decimal-count="{{ ceresConfig.item.storeSpecial }}"
                                            :disable-carousel-on-mobile="true">
                                    </category-item>
                                </template>
                            {% endfor %}
                        </carousel>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>
    $(function () {
        {% for prop in item.documents[0].data.variationProperties %}
        {% if prop.id == 30 %}
        {% for prop1 in prop.properties %}
        {% if prop1.id == 659 and prop1.values.value == "Unikat / Einzelstück" %}
        $(".feedback-container").hide();
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    })
</script>
