{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{# promo teppich empfehlung #}
{% set slide1pos = config("devMlt.devMlt.slide1pos") %}
{% set slide2pos = config("devMlt.devMlt.slide2pos") %}
{% set slide3pos = config("devMlt.devMlt.slide3pos") %}
{% set slide4pos = config("devMlt.devMlt.slide4pos") %}



{% set slide1active = config("devMlt.devMlt.slide1active") %}
{% set slide1img = config("devMlt.devMlt.slide1img") %}
{% set slide1date = config("devMlt.devMlt.slide1date") %}
{% set slide1bgcolor = config("devMlt.devMlt.slide1bgcolor") %}
{% set slide1title1 = config("devMlt.devMlt.slide1title1") %}
{% set slide1title12 = config("devMlt.devMlt.slide1title12") %}
{% set slide1title2 = config("devMlt.devMlt.slide1title2") %}
{% set slide1btncaption = config("devMlt.devMlt.slide1btncaption") %}
{% set slide1btnurl = config("devMlt.devMlt.slide1btnurl") %}
{% set slide1textfontcolor = config("devMlt.devMlt.slide1textfontcolor") %}

{% set slide2active = config("devMlt.devMlt.slide2active") %}
{% set slide2img = config("devMlt.devMlt.slide2img") %}
{% set slide2date = config("devMlt.devMlt.slide2date") %}
{% set slide2bgcolor = config("devMlt.devMlt.slide2bgcolor") %}
{% set slide2title1 = config("devMlt.devMlt.slide2title1") %}
{% set slide2title12 = config("devMlt.devMlt.slide2title12") %}
{% set slide2title2 = config("devMlt.devMlt.slide2title2") %}
{% set slide2btncaption = config("devMlt.devMlt.slide2btncaption") %}
{% set slide2btnurl = config("devMlt.devMlt.slide2btnurl") %}
{% set slide2textfontcolor = config("devMlt.devMlt.slide2textfontcolor") %}

{% set slide3active = config("devMlt.devMlt.slide3active") %}
{% set slide3img = config("devMlt.devMlt.slide3img") %}
{% set slide3date = config("devMlt.devMlt.slide3date") %}
{% set slide3bgcolor = config("devMlt.devMlt.slide3bgcolor") %}
{% set slide3title1 = config("devMlt.devMlt.slide3title1") %}
{% set slide3title12 = config("devMlt.devMlt.slide3title12") %}
{% set slide3title2 = config("devMlt.devMlt.slide3title2") %}
{% set slide3btncaption = config("devMlt.devMlt.slide3btncaption") %}
{% set slide3btnurl = config("devMlt.devMlt.slide3btnurl") %}
{% set slide3textfontcolor = config("devMlt.devMlt.slide3textfontcolor") %}

{% set slide4active = config("devMlt.devMlt.slide4active") %}
{% set slide4img = config("devMlt.devMlt.slide4img") %}
{% set slide4date = config("devMlt.devMlt.slide4date") %}
{% set slide4bgcolor = config("devMlt.devMlt.slide4bgcolor") %}
{% set slide4title1 = config("devMlt.devMlt.slide4title1") %}
{% set slide4title12 = config("devMlt.devMlt.slide4title12") %}
{% set slide4title2 = config("devMlt.devMlt.slide4title2") %}
{% set slide4btncaption = config("devMlt.devMlt.slide4btncaption") %}
{% set slide4btnurl = config("devMlt.devMlt.slide4btnurl") %}
{% set slide4textfontcolor = config("devMlt.devMlt.slide4textfontcolor") %}

{% set slide5active = config("devMlt.devMlt.slide5active") %}
{% set slide5img = config("devMlt.devMlt.slide5img") %}
{% set slide5date = config("devMlt.devMlt.slide5date") %}
{% set slide5bgcolor = config("devMlt.devMlt.slide5bgcolor") %}
{% set slide5title1 = config("devMlt.devMlt.slide5title1") %}
{% set slide5title2 = config("devMlt.devMlt.slide5title2") %}
{% set slide5btncaption = config("devMlt.devMlt.slide5btncaption") %}
{% set slide5btnurl = config("devMlt.devMlt.slide5btnurl") %}
{% set slide5textfontcolor = config("devMlt.devMlt.slide5textfontcolor") %}


{# flash sale #}
{% set flash1itemid = config("devMlt.devMlt.flash1itemid") %}
{% set flash1itemtime = config("devMlt.devMlt.flash1itemtime") %}
{% set flash2itemid = config("devMlt.devMlt.flash2itemid") %}
{% set rchours = "0" %}
{% set rcminutes = "0" %}
{% set rcseconds = "0" %}
{% set difference = date(flash1itemtime|date("Y-m-d")).diff(date("now"|date("Y-m-d") )) %}
{% set leftDays = difference.days %}
{% set rchours1 = "0" %}
{% set rcminutes1 = "0" %}
{% set rcseconds1 = "0" %}


{# recomendation category #}
{% set wrap_color = config("devMlt.devMlt.wrap_color") %}
{% set text_color = config("devMlt.devMlt.text_color") %}
{% set button_rec_color = config("devMlt.devMlt.button_rec_color") %}
{% set button_text_rec_color = config("devMlt.devMlt.button_text_rec_color") %}
{% set text_header_color = config("devMlt.devMlt.text_header_color") %}
{% set text_two_color = config("devMlt.devMlt.text_two_color") %}
{% set recomendationButtonLink = config("devMlt.devMlt.recomendationButtonLink") %}
{% set recomendationHeadingOne = config("devMlt.devMlt.recomendationHeadingOne") %}
{% set recomendationHeadingTwo = config("devMlt.devMlt.recomendationHeadingTwo") %}
{% set recomendationText = config("devMlt.devMlt.recomendationText") %}
{% set recomendationLink = config("devMlt.devMlt.recomendationLink") %}
{% set recomendationImageLink = config("devMlt.devMlt.recomendationImageLink") %}


{# empfehlungen #}
{% set recomendationHeading1 = config("devMlt.devMlt.recomendationHeading1") %}
{% set recomendationText1 = config("devMlt.devMlt.recomendationText1") %}
{% set recomendationImageLink1 = config("devMlt.devMlt.recomendationImageLink1") %}
{% set recomendationButtonText1 = config("devMlt.devMlt.recomendationButtonText1") %}
{% set recomendationLink1 = config("devMlt.devMlt.recomendationLink1") %}
{% set recomendationHeading2 = config("devMlt.devMlt.recomendationHeading2") %}
{% set recomendationText2 = config("devMlt.devMlt.recomendationText2") %}
{% set recomendationImageLink2 = config("devMlt.devMlt.recomendationImageLink2") %}
{% set recomendationButtonText2 = config("devMlt.devMlt.recomendationButtonText2") %}
{% set recomendationLink2 = config("devMlt.devMlt.recomendationLink2") %}
{% set recomendationHeading3 = config("devMlt.devMlt.recomendationHeading3") %}
{% set recomendationText3 = config("devMlt.devMlt.recomendationText3") %}
{% set recomendationImageLink3 = config("devMlt.devMlt.recomendationImageLink3") %}
{% set recomendationButtonText3 = config("devMlt.devMlt.recomendationButtonText3") %}
{% set recomendationLink3 = config("devMlt.devMlt.recomendationLink3") %}



{% set recommendation4title = config("devMlt.devMlt.recommendation4title") %}
{% set recommendation4img1 = config("devMlt.devMlt.recommendation4img1") %}
{% set recommendation4title1 = config("devMlt.devMlt.recommendation4title1") %}
{% set recommendation4txt1 = config("devMlt.devMlt.recommendation4txt1") %}
{% set recommendation4btn1 = config("devMlt.devMlt.recommendation4btn1") %}
{% set recommendation4url1 = config("devMlt.devMlt.recommendation4url1") %}
{% set recommendation4img2 = config("devMlt.devMlt.recommendation4img2") %}
{% set recommendation4title2 = config("devMlt.devMlt.recommendation4title2") %}
{% set recommendation4txt2 = config("devMlt.devMlt.recommendation4txt2") %}
{% set recommendation4btn2 = config("devMlt.devMlt.recommendation4btn2") %}
{% set recommendation4url2 = config("devMlt.devMlt.recommendation4url2") %}
{% set recommendation4img3 = config("devMlt.devMlt.recommendation4img3") %}
{% set recommendation4title3 = config("devMlt.devMlt.recommendation4title3") %}
{% set recommendation4txt3 = config("devMlt.devMlt.recommendation4txt3") %}
{% set recommendation4btn3 = config("devMlt.devMlt.recommendation4btn3") %}
{% set recommendation4url3 = config("devMlt.devMlt.recommendation4url3") %}

{% set seotext = config("devMlt.devMlt.seotext") %}

{# best seller #}
{% set enableBestSeller = config("devMlt.devMlt.enableBestSeller") %}

{% set showNameInputs = false | json_encode %}
{% set showPrivacyPolicyCheckbox = true | json_encode %}
{% set emailFolder = 1 | json_encode %}

{% set recomendationSliderText = config("devMlt.devMlt.recomendationSliderText") %}
{% set recomendationSliderLink = config("devMlt.devMlt.recomendationSliderLink") %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% if category is defined and category is not null %}
            {# Override default behaviour: Use empty title if no explicit meta title is defined #}
            {% block title          category.details[0].metaTitle | default('') %}
        {% else %}
            {% block description    trans('Ceres::Template.homepageMetaDescription') %}
            {% block robots         ceresConfig.meta.robotsHome %}
        {% endif %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    {% set shopBuilderTemplate = "" %}
    {% if category is defined and category is not null %}

        {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
    {% endif %}
    <div class="mob_features_view text-uppercase">
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none"
                 stroke="#7b7b7b" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
            {{ trans("devMlt::Template.TopBarAdv1") }}
        </div>
        <div class="d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none"
                 stroke="#7b7b7b" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
            {{ trans("devMlt::Template.TopBarAdv2") }}
        </div>
    </div>
    <div id="wrap" style="background: {{ slide1bgcolor }}">
        <div class="container-max">
            <div class="carousel">
                {% include "devMlt::Homepage.HomepageSlides.Slide1" %}
                {% include "devMlt::Homepage.HomepageSlides.Slide2" %}
                {% include "devMlt::Homepage.HomepageSlides.Slide3" %}
                {% include "devMlt::Homepage.HomepageSlides.Slide4" %}
                {% include "devMlt::Homepage.HomepageSlides.Slide5" %}
            </div>
        </div>
    </div>
    <script2>
        var $carousel_1 = $('#wrap .carousel').flickity({
        lazy: true,
        imagesLoaded: true,
        wrapAround: true,
        prevNextButtons: true,
        fade: true,
        autoPlay: 3010,
        pauseAutoPlayOnHover: false
        });
        $(document).ready(function () {
        var $carouselStatus = $('.carousel-status');
        var flkty = $carousel_1.data('flickity');
        var carouselStatus = document.querySelector('.carousel-status');

        function updateStatus() {
        $(".flickity-slider .content ~ a").removeClass('animateNow');
        var cellNumber = flkty.selectedIndex + 1;
        if (cellNumber == 1) {

        $(".carousel button[aria-label^='Next']").css("display", "block");

        $(".carousel button[aria-label^='Previous']").css("display", "block");
        if ('{{ slide1pos }}' == '1') {
        document.getElementById("wrap").style.background = '{{ slide1bgcolor }}';
        } else if ('{{ slide1pos }}' == '2') {
        document.getElementById("wrap").style.background = '{{ slide2bgcolor }}';
        } else if ('{{ slide1pos }}' == '3') {
        document.getElementById("wrap").style.background = '{{ slide3bgcolor }}';
        } else if ('{{ slide1pos }}' == '4') {
        document.getElementById("wrap").style.background = '{{ slide4bgcolor }}';
        }
        } else if (cellNumber == '2') {
        if ('{{ slide2pos }}' == '1') {
        document.getElementById("wrap").style.background = '{{ slide1bgcolor }}';
        } else if ('{{ slide2pos }}' == '2') {
        document.getElementById("wrap").style.background = '{{ slide2bgcolor }}';
        } else if ('{{ slide2pos }}' == '3') {
        document.getElementById("wrap").style.background = '{{ slide3bgcolor }}';
        } else if ('{{ slide2pos }}' == '4') {
        document.getElementById("wrap").style.background = '{{ slide4bgcolor }}';
        }
        } else if (cellNumber == 3) {
        if ('{{ slide3pos }}' == '1') {
        document.getElementById("wrap").style.background = '{{ slide1bgcolor }}';
        } else if ('{{ slide3pos }}' == '2') {
        document.getElementById("wrap").style.background = '{{ slide2bgcolor }}';
        } else if ('{{ slide3pos }}' == '3') {
        document.getElementById("wrap").style.background = '{{ slide3bgcolor }}';
        } else if ('{{ slide3pos }}' == '4') {
        document.getElementById("wrap").style.background = '{{ slide4bgcolor }}';
        }
        } else if (cellNumber == 4) {
        if ('{{ slide4pos }}' == '1') {
        document.getElementById("wrap").style.background = '{{ slide1bgcolor }}';
        } else if ('{{ slide4pos }}' == '2') {
        document.getElementById("wrap").style.background = '{{ slide2bgcolor }}';
        } else if ('{{ slide4pos }}' == '3') {
        document.getElementById("wrap").style.background = '{{ slide3bgcolor }}';
        } else if ('{{ slide4pos }}' == '4') {
        document.getElementById("wrap").style.background = '{{ slide4bgcolor }}';
        }
        }
        }
        function addAnim(){
        $(".flickity-slider .content ~ a").addClass('animateNow');
        }
        function removeAnim() {
        $(".flickity-slider .content ~ a").removeClass('animateNow');
        $carousel_1.flickity('playPlayer')
        }

        $carousel_1.on('scroll.flickity', removeAnim);
        updateStatus();
        $carousel_1.on('settle.flickity', addAnim);
        $carousel_1.on('select.flickity', removeAnim);
        $carousel_1.on('change.flickity', updateStatus);
        $("#wrap").addClass("pageloaded");

        });
    </script2>

    <div class="container-max">
        <div id="promo--1" class="row mt-5 pb-md-5 elem to-fade-in fade-in pb-4">
            <div class="col-12 pb-2">
                <span class="h3 font-weight-bold">{{ trans("devMlt::Template.HomepagePromo1") }}</span>
            </div>
            <div id="promo-homepage-1" class="col-12 owl-carousel owl-theme">
                <div class="item">
                    <a href="{{ services.category.getURLById(78) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/gabbbeh_teppiche-1.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(78) }}">{{ trans("devMlt::Homepage.TeppichStil1UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(76) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/moderne_teppiche-1.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(76) }}">{{ trans("devMlt::Homepage.TeppichStil2UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(1177) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/vintage_teppiche-1.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(1177) }}">{{ trans("devMlt::Homepage.TeppichStil3UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(87) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/orient_teppiche-1.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(87) }}">{{ trans("devMlt::Homepage.TeppichStil4UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(79) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/hochflor_teppiche-1.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(79) }}">{{ trans("devMlt::Homepage.TeppichStil5UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(161) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/webteppiche-2.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(161) }}">{{ trans("devMlt::Homepage.TeppichStil6UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(190) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/perserteppiche-2.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(190) }}">{{ trans("devMlt::Homepage.TeppichStil7UberSchrift") }}</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(1173) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/temp_assets/img/orient_webteppiche-2.jpg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(1173) }}">{{ trans("devMlt::Homepage.TeppichStil8UberSchrift") }}</a>
                </div>
                {% if recomendationSliderText|length > 1 %}
                    <div class="item last-carousel-item hide_item ml-2 fade-in">
                        <p class="text_last_item">
                            <a href="{{ recomendationSliderLink }}">{{ recomendationSliderText }}</a>
                        </p>
                    </div>
                {% endif %}
            </div>
            <div class="owl-nav">
                <div class="owl-prev">prev</div>
                <div class="owl-next">next</div>
            </div>
            <script2>
                $('#promo-homepage-1').owlCarousel({
                loop: false,
                margin: 20,
                slideBy: 1,
                nav: true,
                dots: false,
                autoplay:false,
                responsive:{
                0:{
                nav: false,
                autoWidth:true,
                margin:10,
                edgePadding:10,
                items:2,
                },
                600:{
                slideBy: 1,
                autoWidth:false,
                items:3,

                },
                1200:{
                items:4,

                },
                1300:{

                items:5,

                },
                1400:{
                items:5,
                }
                }
                })
            </script2>
        </div>
        <div id="promo--2" class="row mt-4 pb-5 elem to-fade-in">
            <div class="col-12 pb-2">
                <span class="h3 font-weight-bold">{{ trans("devMlt::Template.HomepagePromo2") }}</span>
            </div>
            <div id="promo-homepage-2" class="col-12 owl-carousel owl-theme">
                <div class="item">
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=196%2C197">
                        <img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/groesse_xl.svg"
                                class="img-fluid lazyload"></a>
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=196%2C197">XL (bis 400x300 cm)</a>
                </div>
                <div class="item">
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=194%2C195"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/groesse_l.svg"
                                class="img-fluid lazyload"></a>
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=194%2C195">L (bis 300x200 cm)</a>
                </div>
                <div class="item">
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=191%2C192%2C193"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/groesse_m.svg"
                                class="img-fluid lazyload"></a>
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=191%2C192%2C193">M (bis 240x170 cm)</a>
                </div>
                <div class="item">
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=190"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/groesse_s.svg"
                                class="img-fluid lazyload"></a>
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=190">S (bis 180x120 cm)</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(177) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/laeufer.svg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(177) }}">Läufer Teppiche</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(1505) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/quadratisch.svg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(1505) }}">Quadratische Teppiche</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(1509) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/oval_2.svg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(1509) }}">Ovale Teppiche</a>
                </div>
                <div class="item">
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=185%2C186%2C187%2C188%2C189"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/groesse_xs.svg"
                                class="img-fluid lazyload"></a>
                    <a href="https://www.morgenland-teppiche.de/teppiche?facets=185%2C186%2C187%2C188%2C189">XS (Bis
                        150x100 cm)</a>
                </div>
                <div class="item">
                    <a href="{{ services.category.getURLById(180) }}"><img
                                data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/rund.svg"
                                class="img-fluid lazyload"></a>
                    <a href="{{ services.category.getURLById(180) }}">Runde Teppiche</a>
                </div>

            </div>
            <script2>
                $('#promo-homepage-2').owlCarousel({
                loop: false,
                margin: 20,
                nav: true,
                dots: false,
                autoplay:false,
                responsive:{
                0:{
                nav: false,
                margin:10,
                autoWidth:true,
                edgePadding:0,
                items:2,
                },
                600:{
                autoWidth:false,
                items:3,

                },
                1200:{
                items:4,

                },
                1300:{
                items:5,

                },
                1400:{
                items:6,
                }
                }
                })
            </script2>
        </div>
        <div class="row elem to-fade-in container-max newsletter_container">
            <div class="col-12 mt-5">
                <div class="newsletter-homepage" id="newslettter">
                    <div class="content">
                        <div>
                            <span class="h1 d-block font-weight-bold mb-2">{{ trans("devMlt::Template.HomepageNewsletter1") }}*</span>
                            <span class="h5 d-block font-weight-normal mb-4">{{ trans("devMlt::Template.HomepageNewsletter2") }}</span>
                            <div class="col-xs-12" {{ WidgetHelper.makeEditable("hintText", TOOLBAR_LAYOUT.ALL, isPreview) }}>
                                {{ hintText | raw }}
                            </div>
                            <newsletter-input :show-name-inputs="{{ showNameInputs }}"
                                              :show-privacy-policy-checkbox="{{ showPrivacyPolicyCheckbox }}"
                                              :email-folder="{{ emailFolder }}"></newsletter-input>
                            {#                            <span class="d-block small">*{{ trans("devMlt::Template.HomepageNewsletter4") }} {{ trans("devMlt::Template.HomepageNewsletter3") }}</span>#}
                        </div>
                    </div>
                    <img data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/news_letter_01/newsletter-2-2.jpg"
                         class="d-none d-sm-none d-md-none d-lg-block d-xl-block img-fluid lazyload">
                </div>
            </div>
        </div>
        <div class="row pt-5 elem to-fade-in container-max">
            <div class="col-12">
                {{ seotext | raw }}
            </div>
        </div>
        <div class="row">
            <div class="col sb">
                {{ shopBuilderTemplate | raw }}
            </div>
        </div>
    </div>

    {% if recomendationHeading1|length > 0 %}
        <div class="container-max empfehlungen mt-5 elem to-fade-in">
            <div class="col-sm col-12 pb-4 pl-0">
                <span class="h3 font-weight-bold">{{ trans("devMlt::Template.HomepagePromo3") }}</span>
            </div>
            <div class="row mb-5 pb-5">
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <a href="{{ recomendationLink1 }}">
                            <div class="img_bg_empgfehlung1" style="background: url('{{ recomendationImageLink1 }}')">
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ trans("devMlt::Template.recomendationHeading1") }}</h5>
                            <p class="card-text">{{ trans("devMlt::Template.recomendationText1") }}</p>
                            <a href="{{ recomendationLink1 }}"
                               class="btn btn-light">{{ trans("devMlt::Template.recomendationButtonText1") }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <a href="{{ recomendationLink2 }}">
                            <div class="img_bg_empgfehlung2" style="background: url('{{ recomendationImageLink3 }}')">
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ trans("devMlt::Template.recomendationHeading2") }}</h5>
                            <p class="card-text">{{ trans("devMlt::Template.recomendationText2") }}</p>
                            <a href="{{ recomendationLink2 }}"
                               class="btn btn-light">{{ trans("devMlt::Template.recomendationButtonText2") }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <a href="{{ recomendationLink3 }}">
                            <div class="img_bg_empgfehlung3" style="background: url('{{ recomendationImageLink2 }}')">
                            </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ recomendationHeading3 }}</h5>
                            <p class="card-text">{{ recomendationText3 }}</p>
                            <a href="{{ recomendationLink3 }}" class="btn btn-light">{{ recomendationButtonText3 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %}





{% endblock %}
