<div class="container-navbar-mobile">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <menu class="navbar-mobile">
        <ul id="main-nav">
            <li><a id="startseite" href="#"><b>Startseite</b></a></li>
            <hr class="hr">
            <li>
                <a class="alle-teppiche" href="#alle-teppiche">
                    <b>Alle Teppiche</b>
                </a>
                <a class="alle-teppiche" href="#alle-teppiche">
                    <img class="img-thumbnail float-right"
                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/alle-teppiche_menu.jpg"
                         alt="">
                </a>
            </li>
            <hr class="hr">
            <li>
                <a class="moderne-teppiche" href="#moderne-teppiche">
                    <b>Moderne Teppiche</b>
                </a>
                <a class="moderne-teppiche" href="#moderne-teppiche">
                    <img class="img-thumbnail float-right"
                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/moderne-teppiche_menu.jpg"
                         alt="">
                </a>
            </li>
            <hr class="hr">
            <li>
                <a class="orient-teppiche" href="#orient-teppiche">
                    <b>Orientteppiche</b>
                </a>
                <a class="orient-teppiche" href="#orient-teppiche">
                    <img class="img-thumbnail float-right"
                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/orientteppiche_menu.jpg"
                         alt="">
                </a>
            </li>
            <hr class="hr">
            <li>
                <a class="" href="https://www.morgenland-teppiche.de/premium">
                    <b>Premium</b>
                </a>
                <a class="" href="https://www.morgenland-teppiche.de/premium">
                    <img class="img-thumbnail float-right"
                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/orientteppiche_menu.jpg"
                         alt="">
                </a>
            </li>
            <hr class="hr">
            <li>
                <a class="" href="https://www.morgenland-teppiche.de/dekoration">
                    <b>Deko</b>
                </a>
                <a class="" href="https://www.morgenland-teppiche.de/dekoration">
                    <img class="img-thumbnail float-right"
                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/orientteppiche_menu.jpg"
                         alt="">
                </a>
            </li>
            <hr class="hr">
            <li>
                <a class="wohnraume-teppiche" href="#wohnraume-teppiche">
                    <b>Wohnräume</b>
                </a>
                <a class="wohnraume-teppiche" href="#wohnraume-teppiche">
                    <img class="img-thumbnail float-right"
                         src="/documents/category/774/esszimmer-thumb.jpg"
                         alt="">
                </a>
            </li>
            <hr class="hr">
            <li>
                <a class="sale-teppiche red-text" href="#sale-teppiche">
                    <b>SALE %</b>
                </a>
                <a class="sale-teppiche" href="#sale-teppiche">
                    <img class="img-thumbnail float-right"
                         src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/season_sale.jpg"
                         alt="">
                </a>
            </li>


        </ul>


        {# submenu #}
        <ul id="alle-teppiche-ul" class="hidden">
            <li><a href="javascript:void(0)" class="back"></a><a href="https://www.morgenland-teppiche.de/teppiche"><b>Alle
                        Teppiche</b></a></li>
            <hr class="hr">
            <li class="sub-nav-header"></a><a href="https://www.morgenland-teppiche.de/teppiche"><b>Alle Ansehen</b></a>
            </li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(76) }}">Moderne Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(87) }}">Orientteppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(173) }}">Einfarbige Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1177) }}">Vintage Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1439) }}">Wollteppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1445) }}">Seidenteppiche</a></li>
        </ul>
        <ul id="moderne-teppiche-ul" class="hidden">
            <li><a href="javascript:void(0)" class="back"></a><a href="#"><b>Moderne Teppiche</b></a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(78) }}">Gabbeh Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(166) }}">Loribaft Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(161) }}">Nepal Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(184) }}">Kelim Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1175) }}">Kurzflor Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(186) }}">Shaggy Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(79) }}">Hochflor teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(206) }}">Langflor Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1173) }}">Webteppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(175) }}">Kinderteppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1171) }}">Designer Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(181) }}">Sisalteppiche</a></li>
            <hr class="hr">
        </ul>
        <ul id="orient-teppiche-ul" class="hidden">
            <li><a href="javascript:void(0)" class="back"></a><a href="#"><b>Orientteppiche</b></a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(1163) }}">Perserteppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(88) }}">Afghan/Pakistan Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(83) }}">Belutsch Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(84) }}">Ghashghai Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(86) }}">Hamedan Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(89) }}">Bidjar Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(90) }}">Ghom/Seide Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(91) }}">Keshan Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(92) }}">Nain Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(93) }}">Täbriz Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(94) }}">Ziegler/Kazak Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(95) }}">Isfahan Teppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(96) }}">Kaschmir Seidenteppiche</a></li>
            <hr class="hr">
            <li><a href="{{ services.category.getURLById(103) }}">Antike & Halbantike Teppiche</a></li>
            <hr class="hr">
        </ul>
        <ul id="wohnraume-teppiche-ul" class="hidden">
            <li><a href="javascript:void(0)" class="back"></a><a
                        href="https://www.morgenland-teppiche.de/wohnraeume"><b>Wohnräume</b></a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/wohnzimmer-teppiche">Wohnzimmer Teppiche</a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/schlafzimmer-teppiche">Schlafzimmer Teppiche</a>
            </li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/esszimmer-teppiche">Esszimmer Teppiche</a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/kinderzimmer-teppiche">Kinderzimmer Teppiche</a>
            </li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/badezimmerteppiche">Badezimmerteppiche</a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/buero-teppiche">Büro Teppiche</a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/flur-teppiche">Flur Teppiche</a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/kuechenteppiche">Küchenteppiche</a></li>
            <hr class="hr">
        </ul>
        <ul id="sale-teppiche-ul" class="hidden">
            <li><a href="javascript:void(0)" class="back"></a><a href="#"><b>Sale %</b></a></li>
            <hr class="hr">
            <li><a href="https://www.morgenland-teppiche.de/wohnraeume/wohnzimmer-teppiche">Alle Teppiche</a></li>
            <hr class="hr">
            <li><a href="#">Alle Teppiche</a></li>
            <hr class="hr">
            <li><a href="#">Alle Teppiche</a></li>
        </ul>

    </menu>
</div>
<script2>
    let hamburger = document.querySelector('.hamburger');
    let menu = document.querySelector('.navbar-mobile');
    let bod = document.querySelector('.container-navbar-mobile');
    let startseitebutton = document.querySelector('#startseite');

    hamburger.addEventListener('click', function() {
    hamburger.classList.toggle('isactive');
    menu.classList.toggle('active');
    });


    $('.filter-toggle').first().click(function() {
    hamburger.classList.toggle('isactive');
    menu.classList.toggle('active');
    $('body').removeClass('menu-is-visible')
    });



    startseitebutton.addEventListener('click', function() {
    hamburger.classList.toggle('isactive');
    menu.classList.toggle('active');
    });

    $('.back').click(function(){
    $('#main-nav').removeClass("hidden");
    $('#alle-teppiche-ul').removeClass("show-nav-ul");
    $('#moderne-teppiche-ul').removeClass("show-nav-ul");
    $('#orient-teppiche-ul').removeClass("show-nav-ul");
    $('#wohnraume-teppiche-ul').removeClass("show-nav-ul");
    $('#sale-teppiche-ul').removeClass("show-nav-ul");
    });


    $('.alle-teppiche').click(function(){
    $('#alle-teppiche-ul').removeClass("hidden");
    $('#alle-teppiche-ul').addClass("show-nav-ul");
    $('#main-nav').addClass("hidden");
    });

    $('.moderne-teppiche').click(function(){
    $('#moderne-teppiche-ul').removeClass("hidden");
    $('#moderne-teppiche-ul').addClass("show-nav-ul");
    $('#main-nav').addClass("hidden");
    });

    $('.orient-teppiche').click(function(){
    $('#orient-teppiche-ul').removeClass("hidden");
    $('#orient-teppiche-ul').addClass("show-nav-ul");
    $('#main-nav').addClass("hidden");
    });

    $('.wohnraume-teppiche').click(function(){
    $('#wohnraume-teppiche-ul').removeClass("hidden");
    $('#wohnraume-teppiche-ul').addClass("show-nav-ul");
    $('#main-nav').addClass("hidden");
    });

    $('.sale-teppiche').click(function(){
    $('#sale-teppiche-ul').removeClass("hidden");
    $('#sale-teppiche-ul').addClass("show-nav-ul");
    $('#main-nav').addClass("hidden");
    });
</script2>