<hr class="hr">
<nav>
    <div class="navigation_bar_temp lazyload" width="1000" height="574">
        <ul class="d-flex">
            <li>
                <a href="/alle-teppiche">Alle Teppiche</a>
                {#                <ul class="sub_menu ">#}
                {#                    <li class="d-flex">#}
                {#                        <ul>#}
                {#                            <p>Kategorie</p>#}
                {#                            <li><a href="{{ services.category.getURLById(76) }}">Moderne Teppiche</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(87) }}">Orientteppiche</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(190) }}">Perserteppiche</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1594) }}">Unikate / Einzelstücke</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(173) }}">Einfarbige Teppiche</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(178) }}">Naturfaser Teppiche</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(183) }}">Wollteppiche</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1445) }}">Seidenteppiche</a></li>#}

                {#                        </ul>#}
                {#                        <ul>#}
                {#                            <p>Farbe</p>#}
                {#                            <li><a href="{{ services.category.getURLById(1463) }}">Weiß</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1467) }}">Beige</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1469) }}">Blau</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1471) }}">Türkis</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1473) }}">Braun</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1475) }}">Gelb</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1479) }}">Grau</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1483) }}">Schwarz</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1485) }}">Grün</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1491) }}">Orange</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1493) }}">Rot</a></li>#}
                {#                        </ul>#}
                {#                        <ul>#}
                {#                            <p>Material</p>#}
                {#                            <li><a href="{{ services.category.getURLById(178) }}">Naturfaser</a></li>#}
                {#                            <li>#}
                {#                                <a href="{{ services.category.getURLById(183) }}">Wolle</a>#}
                {#                            </li>#}
                {#                            <li><a href="https://www.morgenland-teppiche.de/teppiche?facets=145">Korkwolle</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1447) }}">Viskose</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1445) }}">Seide</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(181) }}">Sisal/Jute</a></li>#}
                {#                            <li><a href="https://www.morgenland-teppiche.de/teppiche?facets=155%2C156%2C157%2C158">Kunstfaser</a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                        <ul>#}
                {#                            <p>Form</p>#}
                {#                            <li><a href="{{ services.category.getURLById(177) }}">Läufer</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1505) }}">Quadratisch</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(180) }}">Rund</a></li>#}
                {#                            <li><a href="{{ services.category.getURLById(1509) }}">Oval</a></li>#}

                {#                        </ul>#}
                {#                    </li>#}
                {#                    <a href="https://www.morgenland-teppiche.de/teppiche">#}
                {#                        <img class="img-fluid lazyload"#}
                {#                             data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/alle-teppiche_menu-1.jpg"#}
                {#                             width="1000" height="574"#}
                {#                             alt="alleteppische">#}
                {#                    </a>#}
                {#                </ul>#}
            </li>
            <li>
                <a href="/modern-teppiche">Moderne Teppiche</a>
                <ul class="sub_menu">
                    <li class="d-flex">
                        <ul>
                            <p>Kategorie</p>
                            <li><a href="{{ services.category.getURLById(78) }}">Gabbeh Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(166) }}">Loribaft Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(161) }}">Nepal Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1213) }}">Berber Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(184) }}">Kelim Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1171) }}">Designer Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1177) }}">Vintage Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(181) }}">Sisalteppiche</a></li>
                            <li><a href="{{ services.category.getURLById(175) }}">Kinderteppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1175) }}">Kurzflor Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1193) }}">Fellteppiche</a></li>
                            <li><a href="{{ services.category.getURLById(79) }}">Hochflor Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1187) }}">In- & Outdoor Teppiche</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche">Alle Ansehen</a></li>

                        </ul>
                        <ul>
                            <p>Farbe</p>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=170">Weiß</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=170">Beige</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=177">Blau</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=177">Türkis</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=178">Braun</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=179">Gelb</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=180">Grau</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=181">Grün</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=182">Lila</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=182">Rosa</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=183">Orange</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=183">Rot</a></li>
                        </ul>
                        <ul>
                            <p>Motiv</p>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=132">Abstrakt</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=138">Einfarbig</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=137">Leicht
                                    gemustert</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=136">Streifen</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=134">Geometrisch</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=133">Floral</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=130">Felder</a></li>
                        </ul>
                        <ul>
                            <p>Material</p>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=141">Naturfaser</a>
                            </li>
                            <li>
                                <a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=142%2C143%2C145%2C147">Wolle</a>
                            </li>
                            <li>
                                <a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=149%2C150">Viskose</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=148">Seide</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/moderne-teppiche?facets=155%2C158%2C157">Kunstfaser</a>
                            </li>

                        </ul>
                    </li>
                    <a href="https://www.morgenland-teppiche.de/moderne-teppiche">
                        <img class="img-fluid lazyload"
                             data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/moderne-teppiche_menu-1.jpg"
                             width="1000" height="574"
                             alt="moderne_teppich">
                    </a>
                </ul>
            </li>

            <li>
                <a href="/orient-teppiche">Orientteppiche</a>
                <ul class="sub_menu ">
                    <li class="d-flex">
                        <ul>
                            <p>Kategorie</p>
                            <li><a href="{{ services.category.getURLById(190) }}">Perserteppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1173) }}">Orientalische Webteppiche</a></li>
                            <li><a href="{{ services.category.getURLById(88) }}">Afghan Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(89) }}">Bidjar Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(94) }}">Ziegler Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(90) }}">Ghom Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(91) }}">Keshan Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1582) }}">Nain Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(93) }}">Täbriz Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(95) }}">Isfahan Teppiche</a></li>
                            <li><a href="{{ services.category.getURLById(1445) }}">Seidenteppiche</a></li>
                            <li><a href="{{ services.category.getURLById(96) }}">Kaschmir Seidenteppiche</a></li>
                        </ul>
                        <ul>
                            <p>Motiv</p>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=135">Medallion</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=134">Geometrisch</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=133">Floral</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=132">Abstrakt</a></li>
                            <li>
                                <a href="https://www.morgenland-teppiche.de/orientteppiche?facets=131">Durchgemustert</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=130">Felder</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=129">Figurativ</a>
                            </li>

                        </ul>
                        <ul>
                            <p>Material</p>
                            <li>
                                <a href="https://www.morgenland-teppiche.de/orientteppiche?facets=142%2C143%2C145%2C147">Wolle</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=145">Korkwolle</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=148">Seide</a></li>
                            <li>
                                <a href="https://www.morgenland-teppiche.de/orientteppiche?facets=155%2C156">Kunstfaser</a>
                            </li>

                        </ul>
                        <ul>
                            <p>Wohnstil</p>
                            <li><a href="{{ services.category.getURLById(103) }}">Antik</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=108">Boho/Ethno</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=109">Glamour</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=111">Landhaus</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=112">Luxury</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=113">Modern Living</a>
                            </li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=116">Rustikal</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=118">Summer</a></li>
                            <li><a href="https://www.morgenland-teppiche.de/orientteppiche?facets=119">Vintage/Shabby
                                    Chic</a></li>
                        </ul>
                    </li>
                    <a href="/orient-teppiche">
                        <img class="img-fluid lazyload"
                             data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/orientteppiche_menu-1.jpg"
                             alt="">
                    </a>
                </ul>
            </li>
            <li>
                <a href="{{ services.category.getURLById(1391) }}">Premium</a></li>

            <li>
                <a href="javascript:void(0)">Deko</a>
                <div class="sale_menu">
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1371) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/compresed_nav/bild-teppiche__1_.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1371) }}"><span
                                    class="link-after">
        								Bild-Teppiche
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1373) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/compresed_nav/1582AccP23x11-1__1_.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1373) }}"><span
                                    class="link-after">
        								Accessoires
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1375) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/compresed_nav/pouf-1__1_.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1375) }}"><span
                                    class="link-after">
        								Sitzmöbel
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1383) }}">
                            <img class="img-fluid  s-down"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/compresed_nav/kissen__1_.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1383) }}"><span
                                    class="link-after">
        								Kissen
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1575) }}">
                            <img class="img-fluid  s-down"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/compresed_nav/teppichunterlage__1_.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1575) }}"><span
                                    class="link-after">
        								Zubehör
        							</span></a>
                    </div>
                </div>
            <li>
                <a href="javascript:void(0);">Wohnräume</a>
                <div class="wohnraume_menu">
                    <div class="owl-carousel owl-theme">
                        <div class="content_submenu">
                            <a href="{{ services.category.getURLById(770) }}">
                                <img class="img-fluid lazyload"
                                     data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/dropdown-menu/wohnzimmer-thumb-1.jpg"
                                     alt="">
                            </a>
                            <a href="{{ services.category.getURLById(770) }}"><span
                                        class="link-after">
        								Wohnzimmer Teppiche
        							</span></a>
                        </div>
                        <div class="content_submenu">
                            <a href="{{ services.category.getURLById(772) }}">
                                <img class="img-fluid lazyload"
                                     data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/dropdown-menu/schlafzimmer-thumb-1.jpg"
                                     alt="">
                            </a>
                            <a href="{{ services.category.getURLById(772) }}"><span
                                        class="link-after">
        								Schlafzimmer Teppiche
        							</span></a>
                        </div>
                        <div class="content_submenu">
                            <a href="{{ services.category.getURLById(774) }}">
                                <img class="img-fluid lazyload"
                                     data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/dropdown-menu/esszimmer-thumb-1.jpg"
                                     alt="">
                            </a>
                            <a href="{{ services.category.getURLById(774) }}"><span
                                        class="link-after">
        								Esszimmer Teppiche
        							</span></a>
                        </div>
                        <div class="content_submenu">
                            <a href="{{ services.category.getURLById(776) }}">
                                <img class="img-fluid lazyload"
                                     data-src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/assets/img/dropdown-menu/kinderzimmer-thumb-1.jpg"
                                     alt="">
                            </a>
                            <a href="{{ services.category.getURLById(776) }}"><span
                                        class="link-after">
        								Kinderzimmer Teppiche
        							</span></a>
                        </div>
                        <div class="content_submenu">
                            <a href="{{ services.category.getURLById(782) }}">
                                <img class="img-fluid lazyload"
                                     data-src="/documents/category/782/flurteppich-thumb.jpg"
                                     alt="">
                            </a>
                            <a href="{{ services.category.getURLById(782) }}"><span
                                        class="link-after">
        								Flur Teppiche
        							</span></a>
                        </div>
                        <div class="content_submenu">
                            <a href="{{ services.category.getURLById(784) }}">
                                <img class="img-fluid lazyload"
                                     data-src="/documents/category/784/kuechenteppich-thumb.jpg"
                                     alt="">
                            </a>
                            <a href="{{ services.category.getURLById(784) }}"><span
                                        class="link-after">
        								Küchenteppiche
        							</span></a>
                        </div>
                    </div>
                    <script2>
                        $(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                        items:5,
                        margin:20,
                        nav:true,
                        navText: ['<','>'],
                        });
                        });
                    </script2>
                </div>


            <li>
                <a class="text-danger" href="javascript:void(0)">SALE %</a>
                <div class="sale_menu">
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1615) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/lager_sale.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1615) }}"><span
                                    class="link-after">
        								Orient Sale
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1616) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/season_sale.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1616) }}"><span
                                    class="link-after">
        								Modern Sale
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1618) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/orient_sale.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1618) }}"><span
                                    class="link-after">
        								Lagerausverkauf
        							</span></a>
                    </div>
                    <div class="content_submenu">
                        <a href="{{ services.category.getURLById(1617) }}">
                            <img class="img-fluid"
                                 src="https://cdn02.plentymarkets.com/6wg68w8zahno/frontend/slider/modern_sale.jpg"
                                 alt="">
                        </a>
                        <a href="{{ services.category.getURLById(1617) }}"><span
                                    class="link-after">
        								Sitzmöbel Sale
        							</span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
